.item-details-block {
  font-size: 30px;
  font-family: Tenali;
  line-height: 25px;
  width: 400px;

  &__title {
    font-size: 40px;
    font-weight: bold;
    display: block;
    margin-bottom: 17px;
  }

  .details-list {
    list-style: none;
  }
}
.details-list {
  &__item {
    
    display: flex;
    justify-content: space-between;
  }

  .term {
    font-weight: bold;
  }
}
